#img-001_s1 {
    margin-left: -36px;
    margin-top: -4px;
}
#img-002_s1 {
    margin-left: 210px;
    margin-top: 120px;
}
#img-003_s1 {
    margin-left: 613px;
    margin-top: -3px;
}
#img-004_s1 {
    margin-left: 644px;
    margin-top: 49px;
}
#img-005_s1 {
    margin-left: 927px;
    margin-top: 42px;
}
#img-006A_s1 {
    margin-left: 36px;
    margin-top: 276px;
}
#img-006B_s1 {
    margin-left: 159px;
    margin-top: 276px;
}
#img-006C_s1 {
    margin-left: 23px;
    margin-top: 347px;
}
#img-006D_s1 {
    margin-left: 153px;
    margin-top: 348px;
}
#img-007-A-BELOW_s1 {
    margin-left: 226px;
    margin-top: 506px;
}
#img-007_s1 {
    margin-left: 744px;
    margin-top: 106px;
}
#img-008_s1 {
    margin-left: 679px;
    margin-top: 267px;
}
#img-009_s1 {
    margin-left: 725px;
    margin-top: 279px;
}
#img-009a_s1 {
    margin-left: 807px;
    margin-top: 261px;
}
#img-010_s1 {
    margin-left: 850px;
    margin-top: 400px;
}
#img-011_s1 {
    margin-left: 121px;
    margin-top: 423px;
}
#img-012_s1 {
    margin-left: 10px;
    margin-top: 535px;
}
#img-013_s1 {
    margin-left: 315px;
    margin-top: 650px;
}
#img-014_s1 {
    margin-left: 401px;
    margin-top: 588px;
}
#img-015A_s1 {
    margin-left: 557px;
    margin-top: 488px;
}
#img-015b_s1 {
    margin-left: 500px;
    margin-top: 553px;
}
#img-015c {
    margin-left: 590px;
    margin-top: 542px;
}
#img-016_s1 {
    margin-left: 703px;
    margin-top: 523px;
}
#img-017_s1 {
    margin-left: 303px;
    margin-top: 561px;
}
#img-017b_s1 {
    margin-left: 708px;
    margin-top: 700px;
}
#img-019_s1 {
    margin-left: 23px;
    margin-top: 650px;
}
#img-020_s1 {
    margin-left: 222px;
    margin-top: 651px;
}
#img-021_s1 {
    margin-left: 521px;
    margin-top: 629px;
}
#img-022_s1 {
    margin-left: 798px;
    margin-top: 690px;
}
#img-023_s1 {
    margin-left: 243px;
    margin-top: 746px;
}
#img-024_s1 {
    margin-left: 525px;
    margin-top: 771px;
}
#img-025_s1 {
    margin-left: 674px;
    margin-top: 730px;
}
#img-026_s1 {
    margin-left: 933px;
    margin-top: 735px;
}
#img-027NEW_s1 {
    margin-left: 935px;
    margin-top: 786px;
}
#img-028_s1 {
    margin-left: 23px;
    margin-top: 832px;
}
#img-029_s1 {
    margin-left: 246px;
    margin-top: 806px;
}
#img-030_s1 {
    margin-left: 402px;
    margin-top: 802px;
}
#img-031_s1 {
    margin-left: 585px;
    margin-top: 892px;
}
#img-032_s1 {
    margin-left: 73px;
    margin-top: 820px;
}
#img-033_s1 {
    margin-left: 736px;
    margin-top: 841px;
}
#img-034_s1 {
    margin-left: 928px;
    margin-top: 947px;
}
#img-035_s1 {
    margin-left: 28px;
    margin-top: 1006px;
}
#img-036_s1 {
    margin-left: 180px;
    margin-top: 1007px;
}
#img-arms_s1 {
    margin-left: 651px;
    margin-top: 453px;
}
#img-Films_s1 {
    margin-left: 915px;
    margin-top: 250px;
}
#img-led {
    margin-left: 691px;
    margin-top: 383px;
}